
/*主要内容*/
.content{
	width:100%;
	background: #f9f9f9;
	padding-top:10px;
	padding-bottom:45px;
}
/*banner轮播图*/
.banner{
	width:1080px;
	margin:0 auto;
	height:360px;
	position:relative;
}
.banner-focus{
	width:100%;
	height:100%;
	position:relative;
	cursor: pointer;
}
.banner-focus span{
	display:none;
	position:absolute;
	width:48px;
	height:48px;
	opacity: 0.9;
	top:156px;
	z-index: 10000;
}
.banner-focus:hover span{
	display:block;
}
.toLeft{
	background: url(../img/slider-left.png);
	left:220px;
}
.toRight{
	background: url(../img/slider-right.png);
	right:20px;
}
.banner-list{
	position: absolute;
	top:0;
	left:0;
	z-index:100;
}
/*news-laobi*/
.news-laobi{
	width:1080px;
	margin:0 auto;
	padding-top:7px;
	background: white;
}
.news-laobi a{
	display: block;
	height:50px;
	line-height:50px;
	font-size:16px;
	background: white;
	color:#333333;
}
.news-laobi a img{
	width:100px;
	padding:0 50px;
	vertical-align: middle;
}
.news-laobi span{
	height:21px;
	line-height:21px;
}
.laobi-cont{
	border-left:1px solid #cccccc;
	padding-left:20px;
}
.news-laobi .laobi-right{
	height:50px;
	line-height:50px;
	float:right;
}
#laobi-time{
	margin:0 22px;
}
/*category-recommend产品推荐*/
.category-recommend,.category-recommend01,.recommend-main{
	width:1080px;
	margin:0 auto;
}
.category-recommend li{
	width:350px;
	height:220px;
	padding-top:42px;
	padding-right: 15px;
	padding-bottom: 15px;
	float:left;
}
.category-recommend li:last-child{
	padding-right:0;
}
.category-recommend li img{
	width:100%;
	height:100%;
}
.recommend-main h3,.category-recommend01 h3{
	height:70px;
	line-height:70px;
	font-size: 24px;
	color:#333333;
	font-weight: 100;
}
.recommend-main h3 a{
	float:right;
	font-size:16px;
	color:#333333;
}
/*category-recommend01精选*/
#piano{
	height:280px;
	margin-bottom:15px;
}

/*category-recommend02光学眼镜*/
/*recommend-main公共样式整体设置*/
.recommend-main li{
	width:204px;
	height:285px;
	float:left;
	margin-right:15px;
	margin-bottom:15px;
	overflow: hidden;
}
.recommend-main a{
	display: inline-block;
}
.recommend-main .last{
	margin-right:0;
}
.recommend-main .first{
	width:423px;
}
.recommend-main li img{
	width:100%;
	height:205px;
	display: block;
}
.recommend-main p{
	height:56px;
	line-height: 28px;
	font-size:14px;
	color:#333333;
	text-align: center;
	background: white;
	padding-top:24px;
}
.recommend-main p span{
	display: block;
}
.recommend-main p .price{
	color:#ff3333;
}
.recommend-main .first p{
	line-height: 80px;
	font-size: 20px;
	padding-top:0px;
	height:80px;
}
.recommend-main li:hover{
	transition: all 1s;
	box-shadow: 0px 0px 15px gray;
}
.recommend-main li:hover img{
	transition: all 1s;
	transform: scale(1.03,1.03);
}


/*//隐藏侧边栏分析图片*/
.rightBar-share{
	display: none;
}
